# Virtual environment
.venv/

# Django database
db.sqlite3

# Python cache
__pycache__/

# Tailwind build output
output.css
tailwind.exe

# Node dependencies
node_modules/

# IDE / Editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Env files
.env
