{% extends "base.html" %}


{% block title %}Login Page
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}

    
    <div class="container d-flex justify-content-center mt-5">
      <div class="col-md-6 col-lg-5">
      <h2 class="text-center mb-4">Login</h2>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class = "text-center mb-3">
                <button class = "btn btn-success text-center mb-3" type="submit">Login</button>
            </div>
        </form>
        <div class = "text-center">
            <p>don't have a account? Register here <a href="{% url 'register' %}"><button class="btn btn-primary">Register</button></a></p>
        </div>
        

    
    </div>
    </div>





{% endblock %}