{% extends "base.html" %}


{% block title %}
Registration Page
{% endblock %}


{% block content %}

{% load crispy_forms_tags %}

 <div class="container d-flex justify-content-center mt-5">
  <div class="col-md-6 col-lg-5">
    <h2 class="text-center mb-4">Register</h2>
   
    

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class = "text-center">
            <button class = "btn btn-primary text-center mb-3" type="submit">Register</button>
        </div>
        
    </form>
    <div class = "text-center">
        <p >Already have a account? Login here <a href="{% url 'login' %}"><button class="btn btn-success">Login</button></a></p>
    </div>
    
</div>
  </div>








{% endblock %}